.title{
  margin-top: 20px;
  text-align: center;
  font-size: 3rem;
color:#9F91FE;
text-decoration: none;
}

/* parte de chatgpt */

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #ffffff;
}
